CompileFlags:
  Add: [-std=c17]

---
If:
  PathMatch:
    - sed_ere/src/.*
    - src/.*
CompileFlags:
  Add: [-I.]

---
If:
  PathMatch: common/scanner\.h
CompileFlags:
  Add: [-xc, -DSED_REGEX_EXTENDED=0, -I../src]

---
If:
  PathMatch: bindings/c/tree_sitter/tree-sitter-sed\.h
CompileFlags:
  Add: [-xc]

---
If:
  PathMatch: test/scanner\.test\.c
CompileFlags:
  Add: [-DSED_REGEX_EXTENDED=0, -I../src]

---
If:
  PathMatch: test/binding\.test\.c
CompileFlags:
  Add: [-I../bindings/c]
