CompileFlags:
  Add: [-std=c17]

---
If:
  PathMatch:
    - sed_ere/src/.*
    - src/.*
CompileFlags:
  Add: [-I.]

---
If:
  PathMatch: common/scanner\.h
CompileFlags:
  Add: [-xc, -DSED_REGEX_EXTENDED=0, -I../src]
