If:
  PathMatch: sed/src/.*
CompileFlags:
  Add: [-std=c17, -I.]

---
If:
  PathMatch: sed-ere/src/.*
CompileFlags:
  Add: [-std=c17, -I.]

---
If:
  PathMatch: common/scanner\.h
CompileFlags:
  Add: [-xc, -std=c17, -DSED_REGEX_EXTENDED=0, -I../sed/src]
